/* google font */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playpen+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 10px 20px;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: wheat;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

body {
    width: 100%;
}

.logo {
    width: 230px;
    height: 80px;
    padding: 0%;
    margin: 0;
    /* to make background of logo white */
    /* filter: invert(100); */

}

/* header start */
#header {
    /* fame in one coloumn */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    /* make in a row */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li {
    /* remove bulet points */
    list-style: none;
    padding: 0 20px;
    /* showing up underline in home tabs */
    position: relative;
}

#navbar li a {
    /* remove underline */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    /* happen slowly */
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    /* hover on nav link */
    color: #088817;
    /* highlight our tabs  using active*/
}

#navbar li a.active::after,
#navbar li a:hover::after

/* making in all tebs underline */
    {
    /* to all nav tabs */
    content: "";
    width: 30%;
    height: 2px;
    background: #088817;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home page */
#hero {
    background-image: url("bg.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url("btnlogo.jpeg");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .box1 {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .box1:hover {
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);
}


#feature .box1 img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .box1 h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .box1:nth-child(2) h6 {
    background-color: khaki;

}

#feature .box1:nth-child(3) h6 {
    background-color: powderblue;
}

#feature .box1:nth-child(4) h6 {
    background-color: rgb(221, 158, 130);
}

#feature .box1:nth-child(5) h6 {
    background-color: rgb(118, 239, 170);
}

#feature .box1:nth-child(6) h6 {
    background-color: rgb(165, 168, 254);
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* come to other line */
    flex-wrap: wrap;

}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: rgb(112, 10, 171);
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: paleturquoise;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(196, 196, 47);
}


#product1 .pro .des h4 {
    padding-top: 7px;
    color: rgb(3, 168, 168);
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    background-color: white;
    color: aqua;
    border: 1px solid black;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("banner.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
    font-size: 30px;
    padding: 10px 0;
}

#banner button:hover {
    background-color: #088178;
    color: white;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("sm-banner.jpg");
    min-width: 580px;
    margin-right: 20px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4 {
    color: rgb(102, 254, 237);
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: rgb(93, 201, 243);
    font-size: 20px;
    font-weight: 800;
}

#sm-banner span {
    color: rgb(56, 244, 219);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    color: #97e1f8;
    border: 2px solid rgb(10, 181, 238);
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("newsletter.jpeg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #1a1a1a;

}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: beige;
}

#newsletter p span {
    color: rgb(171, 134, 31);

}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: whitesmoke;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;

}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #222;
    margin: 0 0 8px 0;
}

footer .follow {
    padding-right: 4px;
    color: #024b47;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin-top: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #991ba7;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* shop page */
#page-header.shop-header,
#page-header.blog-header,
#page-header.about-header {
    background: url("banner2.jpg");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header h4 {
    color: black;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* single product */
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details {
    width: 50%;
    margin-top: 20px;

}

#prodetails .single-pro-details h4 {
    padding: 15px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    padding: 15px 0 20px 0;
    font-size: 26px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: #088178;
    color: white;

}

#prodetails .single-pro-details p {
    line-height: 20px;
}

#prodetails .small-img-col img {
    height: 15vh;
    width: 15vh;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;

}

#page-header.blog-header {
    background-image: url("banner3.jpg");
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    /* when we use  position absolute its parent element should have position relative */
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    /* behind text */
    position: absolute;
    top: -40px;
    left: 0px;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
    /* behind zindex -ve */
}

/* About page */
#page-header.about-header {
    background-image: url("banner4.jpg");
    text-align: left;

}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;
}

/* contact page */
#contact-page-header.contact-header {
    background-image: url("banner5.jpg");
    text-align: left;
    width: 100%;
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
    margin-bottom: 15px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    margin-bottom: 15px;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin-bottom: 10px;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 10px;
}

#contact-details .details li p {
    margin: 0px;
    font-size: 14px;
    padding: 10px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid rgb(30, 13, 1);
}

#form-details form button {
    background-color: #088178;
    color: white;
}

#cart {
    overflow-x: auto;
}

#cart-page-header.cart-header {
    background-image: url("banner5.jpg");
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70%;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 200px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid black;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: whitesmoke;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    font-size: 13px;
}


/* 768*1024 */
@media(max-width:799px) {


    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        /* make in a row */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0 0.1);
        padding: 80px 0 0 10px;
        transition: 0.6s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #page-header.about-header,
    #contact-page-header.contact-header,
    #cart-page-header.cart-header,
    #page-header.shop-header {
        width: 100%;
        height: 35vh;
        margin-bottom: 20px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 50%;
        height: 30vh;
    }

    #newsletter .form {
        width: 70%;
    }

    /* contact page */
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }

}

/* 375*412 */
@media(max-width:477px) {
    .section-p1 {
        padding: 20px 20px;
    }

    #header {
        padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
        background-position: 65%;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .box1 {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        width: 35vh;
        height: 115vh;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    #feature .copyright {
        text-align: start;
    }

    /* single product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /*blog page  */
    #blog {
        padding: 100px 20px 0px 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        height: 30vh;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* about page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
        height: 30vh;
    }

    #about-head div {
        padding-left: 0px;
    }

    #page-header.about-header,
    #contact-page-header.contact-header,
    #cart-page-header.cart-header,
    #page-header.shop-header,
    #hero {
        width: 100%;
        height: 35vh;
        margin-bottom: 20px;
    }


    /* contact page */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* cart section */

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
        margin-bottom: 30px;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }

    #cart table {
        display: block;
        width: 100%;
    }

    #cart table tr {
        display: flex;
        flex-wrap: wrap;
    }

    #cart table td {
        width: 50%;
        /* Adjust the width as needed */
        box-sizing: border-box;
        padding: 8px;
        border: 1px solid #ddd;
        /* Optional: Add a border for clarity */
    }

    #cart table td:nth-child(5) input {
        width: 70px;
    }
}